{% extends 'header.html' %}

{% block content %}


<form method="POST" action="{% if mode == 'update' %}{% url 'update' p_id=p_id %}{% else %}{% url 'create' %}{% endif %}">
{% csrf_token %}
    <div class="container">
<div class="row  align-items-center">
    <div class="col-8">
{{ form.title }}
    </div>
</div>
    <div style="height:20px"></div>
<div class="row align-items-center">
    <div class="col-8">
{{ form.subtitle }}
    </div>
</div>
<div style="height:20px"></div>
<div class="row  align-items-center">
    <div class="col-8">
{{ form.url }}
    </div>
</div>

<div style="height:20px"></div>
<div class="row align-items-center">
    <div class="col-8">
{{ form.body }}
    </div>
</div>
    <div style="height:20px"></div>
    <input type="submit" style="background:rgb(98,172,223)" value="Done" class="btn btn-primary btn-sm">
</div>

</form>
{% endblock %}