{% extends 'header.html' %}

{% block content %}
  <main class="main">
    <div class="container">
        <div class="col">
          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">
              <article class="article">
                <div class="post-img">
                  <img src= "{{ post.blog_media }}"  alt="" class="img-fluid rounded shadow-lg img-hover-effect mt-4" style="width: 90%; cursor: pointer;">
                </div>
                <div style="height:50px;"></div>
                <div class="container text-center">
                  <div class="row align-items-start">
                    <div class="col">
                  <h2 class="title" style="font-size: 28px; font-weight: bold; color: #222; font-family: Arial, sans-serif; text-align: center; margin-bottom: 15px; text-transform: uppercase; letter-spacing: 2px; border-bottom: 3px solid #007BFF; padding-bottom: 5px; display: inline-block;">{{ post.blog_title }}</h2>

                    </div>

                    </div>
                  <div><br></div>
                  <div class="col">
                    <h3 style="font-size: 22px; font-weight: bold; color: #007BFF; font-family: Arial, sans-serif; text-align: center; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 1px;">{{ post.blog_subtitle }}</h3>
                  </div>
                  <div><br></div>
                </div>
                <div class="content">

                  <p style="font-size: 18px; line-height: 1.6; color: #333; font-family: Arial, sans-serif; text-align: justify; padding: 10px; background-color: #f9f9f9; border-left: 4px solid #007BFF; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);">
                    {{ post.blog_body }}
                    </p>
                  </div>
              </article>
            </div>
          </section><!-- /Blog Details Section -->
        </div>
          </div>
  </main>

 {% endblock %}